---
import BaseLayout from "@layouts/BaseLayout.astro";
import {Content as FuturePostAbout} from "@pages/future_post/future_post.md"

const pageTitle = "POST IN PROGRESS"
---

<BaseLayout pageTitle={pageTitle}>
    <div class="flex flex-col gap-4">
      <div class="text-2xl mb-8 text-stone-700 dark:text-stone-200">
        POST IN PROGRESS
      </div>
  
      <div class="nobloger-animate transition-opacity duration-300 ease-in-out opacity-0">
        <article class="prose dark:prose-invert prose-stone md:prose-lg prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl">
          <FuturePostAbout/>
        </article>
      </div>
    </div>
</BaseLayout>